#just an example of global .gitconfig file
[user]
	name = <name>
	email = <email>
[credential]
    # for MacOS users - keeps profile data in a protected space linked to your system account
	helper = osxkeychain
[init]
    # also default in GitHub
	defaultBranch = main
[core]
	editor = vi
	pager =
[alias]
    recent = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
    unstage = reset HEAD --
[pull]
	# default reconcile divergent branches strategy is `rebase`
	rebase = true
